* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-image: url("https://c1.wallpaperflare.com/path/565/385/156/sunset-brook-green-meadow-june-df867360f0bed19da26bbb3838498c8f.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

input {
  width: 380px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

textarea {
  width: 380px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 100px;
  resize: none;
}

select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.box-board {
  height: fit-content;
  background-color: #ebecf0;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.warning-text {
  color: red;
  font-size: 12px;
  padding: 4px 12px;
  display: none;
}

.style-within-card {
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  cursor: grab;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  width: 230px;
}

.done-button:hover,
.remove-edit:hover {
  background-color: rgba(173, 171, 171, 0.5);
}

.done-button,
.remove-edit {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
}

.sepation-four {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#boards {
  display: flex;
  gap: 15px;
  margin-top: 40px;
}

#header {
  padding: 8px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 249px;
}

#counter {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

#add-card {
  display: flex;
  justify-content: flex-start;
  border: none;
  font-size: 15px;
  padding: 8px;
  border-radius: 4px;
}

#add-card:hover {
  background-color: rgba(173, 171, 171, 0.5);
}

#model {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
}

#inside-model {
  position: absolute;
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#add-task {
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: black;
  color: white;
  margin-top: 24pxs;
}

.within-card {
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  cursor: grab;
  display: flex;
  gap: 12px;
  display: flex;
}

#card-priority {
  width: fit-content;
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

#actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#information {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
